/* Joomla 1.5 buttons */

/* 32 pixels */
.icon-32-csvi_new_32 { background-image: url(../images/new_32.png); }
.icon-32-csvi_edit_32 { background-image: url(../images/edit_32.png); }
.icon-32-csvi_clone_32 { background-image: url(../images/clone_32.png); }
.icon-32-csvi_delete_32 { background-image: url(../images/delete_32.png); }
.icon-32-csvi_fields_32 { background-image: url(../images/fields_32.png); }
.icon-32-csvi_templates_32 { background-image: url(../images/template_32.png); }
.icon-32-csvi_publish_32 { background-image: url(../images/publish_32.png); }
.icon-32-csvi_unpublish_32 { background-image: url(../images/unpublish_32.png); }
.icon-32-csvi_save_32 { background-image: url(../images/save_32.png); }
.icon-32-csvi_fields_32 { background-image: url(../images/fields_32.png); }
.icon-32-csvi_logdetails_32 { background-image: url(../images/log_details_32.png); }
.icon-32-csvi_cancel_32 { background-image: url(../images/cancel_32.png); }
.icon-32-csvi_delete_32 { background-image: url(../images/delete_32.png); }
.icon-32-csvi_continue_32 { background-image: url(../images/continue_32.png); }
.icon-32-csvi_import_32 { background-image: url(../images/import_32.png); }
.icon-32-csvi_export_32 { background-image: url(../images/export_32.png); }
.icon-32-csvi_key_32 { background-image: url(../images/key_32.png); }

/* 48 pixels */
.icon-48-csvi_new_48 { background-image: url(../images/new_48.png); }
.icon-48-csvi_edit_48 { background-image: url(../images/edit_48.png); }
.icon-48-csvi_templates_48 { background-image: url(../images/template_48.png); }
.icon-48-csvi_fields_48 { background-image: url(../images/fields_48.png); }
.icon-48-csvi_import_48 { background-image: url(../images/import_48.png); }
.icon-48-csvi_export_48 { background-image: url(../images/export_48.png); }
.icon-48-csvi_maintenance_48 { background-image: url(../images/maintenance_48.png); }
.icon-48-csvi_log_48 { background-image: url(../images/log_48.png); }
.icon-48-csvi_about_48 { background-image: url(../images/about_48.png); }
.icon-48-csvi_availablefields_48 { background-image: url(../images/av_fields_48.png); }
.icon-48-csvi_logdetails_48 { background-image: url(../images/log_details_48.png); }
.icon-48-csvi_logo_48 { background-image: url(../images/logo_48.png); }
